<mat-progress-bar mode="indeterminate" *ngIf="modelService.loading"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="p-3">

    <h4>Machine Learning using tf.js</h4>

    <form>
      <mat-form-field>
        <input matInput placeholder="What do you see?" #label>
      </mat-form-field>
      <button mat-button (click)="addLabel(label.value)" color="primary">Add Label</button>
    </form>

    <mat-nav-list *ngFor="let label of modelService.labels">
      <mat-list-item (click)="selectedLabel=label">
        <h2 matLine>{{label.name}}</h2>
      </mat-list-item>
    </mat-nav-list>

    <section *ngIf="selectedLabel">
      <button mat-button color="primary"
              (click)="record()" (mouseout)="stopRecord()">
        <span *ngIf="STATE != 'RECORDING'">
        Click to teach
      </span>
        <span *ngIf="STATE === 'RECORDING'">
        Teaching...
      </span>
      </button>
    </section>

    <hr/>

    <button mat-raised-button color="primary" (click)="train()">
      <span *ngIf="STATE != 'TRAINING'">
        Click to train
      </span>
      <span *ngIf="STATE === 'TRAINING'">
        Training...
      </span>
    </button>
    <button mat-raised-button color="primary" (click)="predict()" *ngIf="!modelService.isPredicting">Start Prediction</button>
    <button mat-raised-button color="primary" (click)="predict()" *ngIf="modelService.isPredicting">Stop Prediction</button>

  </mat-sidenav>
  <mat-sidenav-content class="text-center">

    <h1 *ngIf="modelService.labels[this.modelService.prediction]">I see {{modelService.labels[this.modelService.prediction].name}}</h1>

    <video autoplay playsinline muted id="webcam" width="224" height="224"
           style="overflow: hidden"
           #webcamElement></video>

    <br/>
    OR
    <br/>

    <mat-form-field>
      <input matInput placeholder="Enter image URL" #url>
    </mat-form-field>
    <button mat-button color="primary"
            (click)="recordFromURL(url.value)"
    >RECORD FROM URL</button>

    <br/>

    <button mat-button (click)="audio()">Audio</button>
    <button mat-button (click)="audioStop()">STOP Audio</button>

  </mat-sidenav-content>
</mat-sidenav-container>




